:root{
    /*Colours*/
    --lightTheme: #d7e5e8;
    --mediumTheme: #3281af;
    --strongTheme: #0a1027;
    --errorTheme: #da3232;
    --white: #ffffff;
    --black: #000000;

    /*Font Styling*/
    --defaultFontFamily: "Tahoma", "Verdana", "Courier";
    --defaultFontSize: 20;
}
