:root{
    /*Colours*/
    --lightTheme: #d7e5e8;
    --mediumTheme: #8088b8;
    --strongTheme: #0e1533;
    --errorTheme: #da3232;
    --white: #ffffff;
    --black: #000000;

    /*Font Styling*/
    --defaultFontFamily: "Tahoma", "Verdana", "Courier";
    --largeFontSize: 30px;
    --defaultFontSize: 20px;
    --smallFontSize: 15px;
}
